<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
</head>
<body>
<div id="main" class="container">
    <h1 class="text-center">Sign In: </h1>
    <hr/>
    <div class="row">
        <form id="signInForm" action="/" method="post">
            <div class="form-group col-xs-12">
                <input type="text" id="username" name="username" class="form-control" placeholder="Your Name..."/>
            </div>
            <div class="form-group col-xs-12">
                <button class="btn btn-primary col-xs-12">Start Chatting</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>